:root {
  --color-main: #fff;
  --color-second: #333;
  --color-btn: #1451EE;
  --color-btn-hover: #0d3aad;
  --color-btn-active: #00288D;
  --color-not-active: #777;

  --font-size-large: 2.2rem;
  --font-size-normal: 2rem;
  --font-size-small: 1.8rem;
  --font-size-extrasmall: 1.6rem;

  --container-width-lg: 92%;
  --container-width-sm: 95%;
  --container-width: var(--container-width-lg);

  --form-width-lg: 30%;
  --form-width-md: 40%;
  --form-width-sm: 70%;
  --form-width: 100%;

  --border-radius: 1rem;

  --transition: all ease-in-out 0.2s;

  --shadow-main: 0 0.3rem 1.5rem 0 rgba(0, 0, 0, 0.25);

  --p-select-overlay-border-color: var(--color-second);
  --p-select-overlay-border-radius: var(--border-radius);
  --p-select-overlay-background: var(--color-main);
  --p-select-option-focus-color: var(--color-btn-hover);
}

@font-face {
  font-family: Stolzl;
  font-weight: bold;
  src: url('../fonts/stolzl_bold.otf');
}

@font-face {
  font-family: Stolzl;
  font-weight: normal;
  src: url('../fonts/stolzl_regular.otf');
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-main);
  color: var(--color-second);
  font-family: 'Stolzl', sans-serif;
  font-size: var(--font-size-normal);
  line-height: 1.6;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 7rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

img {
  display: block;
  object-fit: cover;
}

button > img {
  width: 100%;
  height: 100%;
}
a {
  color: var(--color-second);
  text-decoration: none;
  transition: var(--transition);
}

ul, ol {
  list-style: none;
}

section {
  position: relative;
  padding: 7rem 0;
}

.container {
  width: var(--container-width);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

/* <=================== Форма ===================> */
form {
  display: flex;
  flex-direction: column;
  width: var(--form-width);
  gap: 2rem;
}

.form-main {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 9rem;
}

.form__blocks {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 45%;
}

.form__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__block.checkbox {
  flex-direction: row;
  align-items: center;

}

label {
  font-size: var(--font-size-small);
  color: var(--color-second);
  margin-left: 1rem;
}

input {
  font-size: var(--font-size-normal);
  border-radius: var(--border-radius);
  background: none;
  border: none;
}

.input-main, .form-main input[data-pc-extend] {
  color: var(--color-second);
  background-color: var(--color-main);
  padding: 2rem 2.5rem;
  width: 100%;
  box-shadow: var(--shadow-main);
}

.p-select .p-select-label {
  background-color: var(--color-main);
  padding: 2rem;
  width: 70%;
  font-size: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
}

.p-select .p-select-dropdown svg {
  margin-left: -4rem;
  width: 2rem;
}

.p-select-list {
  background-color: var(--color-main);
}

.p-select-overlay {
  padding: 1rem 1.5rem;
  background-color: var(--color-main);
  border: 0.1rem solid var(--color-second);
  border-radius: var(--border-radius);  
}

.p-select-overlay .p-select-filter {
  height: 100%;
  font-size: var(--font-size-small);
  padding: 1rem;
}

.p-inputicon {
  display: none;
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
  background-color: var(--color-btn-active);
}

.p-select-header {
  background-color: var(--color-main);
  border: 0.1rem solid var(--color-second);
  border-radius: var(--border-radius);  
  margin-bottom: 1rem;
}

.error {
  color: red;
  font-size: var(--font-size-small);
  margin-top: -1rem;
}

.form-main .error {
  margin-top: 0.5rem;
}

/* <================ Кнопки ================> */
button {
  cursor: pointer;
  background: none;
  border: none;
  transition: var(--transition);
  font-size: var(--font-size-normal);
}

.btn-main {
  background-color: var(--color-btn);
  color: var(--color-main);
  font-size: var(--font-size-normal);
  font-weight: 700;
  padding: 1rem 2.5rem;
  border-radius: var(--border-radius);
}

.btn-main:hover {
  background-color: var(--color-btn-hover);
}

.btn-main:active {
  background-color: var(--color-btn-active);
}

form .btn-main {
  margin-top: 2rem;
  align-self: center;
}

.form-main .btn-main {
  padding: 2rem 3rem;
}
/* <================ Конец кнопок ================> */

/* <================ Конец формы ================> */